main {
    margin-top: 31px;
}

.divFullHeight{
    height: 100%;
    min-height: 100%;
}

.divAutoHeight {
    height: auto;
    padding: 80px 0px;
}

.paddingFooter {
    padding: 10px 0px;
}

.lineOrange {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}
.intro-header {
    background: url('../img/unp_pro.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    background: none;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    color: white;
}